.main {
    width: 100%;
    height: 100vh;
    background-color: peachpuff;
}

.main-init {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-actions {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    align-self: center;
    flex-direction: column;
}
.action {
    padding: 5px;
    margin: 5px;
}
.main-solve {
    flex-wrap: wrap;
    display: flex;
}
.item-board {
    display: flex;
    align-items: center;
}
.item-board:last-of-type p {
    display: none;
}